.content {
  overflow-x: scroll;
}

.shadow {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 10px;
  height: 100%;
  background: red;
}

.shadow--top {
  left: 0;
  background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.35), transparent);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.35), transparent);
  opacity: 0;
}

.shadow--bottom {
  right: 0;
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.35), transparent);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.35), transparent);
}